<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
	<meta property="og:title" content="Rethink Developers">
	<meta property="og:description" content="A developer firm focused on developing technologies to benefit patients with ALS and other neurodegenerative diseases.">
	<meta property="og:image" content="https://i.imgur.com/5ReMlMY.png">
	<meta property="og:url" content="www.rethinkdevelopers.com">
	<meta name="twitter:title" content="Rethink Developers ">
	<meta name="twitter:description" content="A developer firm focused on developing technologies to benefit patients with ALS and other neurodegenerative diseases.">
	<meta name="twitter:image" content="https://i.imgur.com/NUvl0E7.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
	<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <% } %>
    <% for (var chunk of webpack.chunks) { %>
    <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
    <% for (var file of chunk.files) { %>
    <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% } else if (file.match(/manifest\.json$/)) { %>
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
    <% } %>
    <% } %>
    <% } %>
</head>
<body>
<%= htmlWebpackPlugin.options.ssr({
url: '/'
}) %>
<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
<script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
